body {
   
    height: max-content;
    width: max-content;
    margin: 0;
    background-color: #f0f0f0;
}




#controls-box {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
}

#controls-box h3 {
    margin: 0 0 10px 0;
}

.key {
    display: inline-block;
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 2px 5px;
    font-family: monospace;
}
